
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Anında Al Admin Girişi</title>
</head>
<body>
	<form method="post">
    <div> 
		<h2>Admin Paneli</h2>

		@Html.Label("Email")
		@Html.TextBox("Email")
		<br />
		@Html.Label("Şifre")
		@Html.Password("Password")
		<br />
		<button type="submit">Giriş Yap</button>
    </div>
</body>
</html>
